
body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

#results {
    margin-top: 20px;
}

ul {
    list-style-type: none;

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    padding: 20px;
}

.drug-btn {
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f8f8;
    cursor: pointer;
}

.drug-btn:hover {
    background-color: #ececec;
}

/* Highlight the active drug button */
.drug-btn.active {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
}

.chart-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heatmap-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.heatmap-btn:hover {
    background-color: #0056b3;

}
